# 核心测试框架
pytest==8.2
pytest-rerunfailures==14.0
pytest-assume==2.4.3
pytest-repeat==0.9.3
pytest-html==4.1.1
pytest-xdist==3.6.1

# Playwright - 浏览器自动化
playwright==1.53.0

# 测试报告
allure-pytest==2.13.5
allure-python-commons==2.13.5

# 数据处理
pyyaml>=6.0.1
jsonpath-ng>=1.6.0
jsonpath==0.82
faker~=15.0.0


# 工具库
requests>=2.32.4
paramiko==3.4.0
PyJWT==2.4.0
openai>=1.0.0
